.card {
  display: flex;
  width: 100px;
  height: 150px;
  border: 3px solid #ef5350;
  border-radius: 15px;
  justify-content: space-around;
  font-size: 5em;
  color: #ff867c;
}

.content {
  align-self: center;
}